<p> mascota works!
    <br>
    si ves esto, significa que la creación de componenetes por CLI utilizando
    ng g c &lt;nombre-componente&gt; fue exitosa
    <br>
    vamos a ver que hacemos con esto
</p>

<p>
    <b>A continuación texto creado con interpolación:</b>
</p>
<p>Nombre de la mascota {{ nombre }}</p>

<p>Especie de la mascota {{ especie }}</p>

<p>Raza de la mascota {{ raza }}</p>

<p>Etapa de vida del perro: {{getEdad()>=1?"Adulto":"Cachorro"}}</p>

<p>Edad de la mascota {{ getEdad() }}</p>